<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{title}} | every.fail</title>
<meta name="description" content="{{description}}">
</head>
<body>
<main class="content">
{{partial}}
</main>
</body>
</html>
