import type { Meta } from '@every-fail/dot-sdk'

export const meta: Meta = {
  id: '{{id}}',
  title: '{{title}}',
  description: '',
  tags: [],
  createdAt: '{{date}}',
  updatedAt: '{{date}}',
  status: 'draft',
}
